.classpath
.project

*.class

# Package Files #
*.jar
*.war
*.ear

/target/
/Servers/
/.settings/
/.classpath/
/.project/
/.DS_Store/
/.metadata/

/.idea/
/*/*.iml
/*.iml
/*/target/

bat-villain-core/\.settings/

bat-desk-web/\.settings/
